* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #000000;
}

.main {
  width: 1000px;
  background: #ffffff;
  min-height: 200px;
  margin: 10px auto;
   box-shadow: 0 0px 10px #fff;

  .header {
    min-height: 180px;
    background: #ffffff;
    background-image: url("../img/header.png");

    background-size: 100% auto;
    .contact{
      padding: 16px;
      margin-left: 50%;
      color: blueviolet;
      font-weight: bold;
      p{
        margin-top: 10px;
      }
    }
  }
  .content{
    text-align: justify;
    text-indent: 16px;
    padding: 25px;
    p{
      margin-top: 10px;
    }
  }
}